.eyedrop,
.erasor-brush,
.brush-size {
    border: solid 1px black;
    margin: 7px auto;
}
.brush-control.picked {
    border: solid 4px black;
}
.brush-control {
    background-color: white;
    border: solid 1px black;
    margin: 7px;
    padding: 3px;
    cursor:pointer;
}

.color-display {
    width: 50px;
    height: 50px;
}
#colordisplay_palette {
    margin: 15px;
}
#colordisplay {
    margin: 15px auto;
}

/*  COLOR CREATOR */
.color-slide {
    width:256px;
    margin:7px 0;
    border: solid 1px black;
}
.slider.atend {
    margin-left:255px;
}
.slider {
    width: 3em;
    background-color: black;
    border:solid 3px black;
    cursor:pointer;
}
/*  COLOR SELECT */
span.paint-control {
    display:inline-block;
    margin: 3px;
}
.paint-control {
    border: solid 1px black;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 7px auto;
}

.paint-control#eyedrop.picked {
    border: solid 1px black;
    background-color: silver;
}
.paint-control.picked {
    border: double 6px white;
    width: 35px;
    height: 35px;
}
.paint-control.picked.white {
    border: double 6px black;
    width: 35px;
    height: 35px;
}
#eyedrop, #erase {
    background-color: white;
    font-size: smaller;
    width: initial;
    text-align: center;
    padding: 3px;
}
#erase {
    border: solid 1px black;
}
#erase.picked {
    background-color: silver;
}

/* LAYOUT */
.drawtool {
    display:flex;
}
.canv {
    margin: 10px;
}
.rightpane {
    display:flex;
    flex-direction: column;
}
.longcontrols {
    display:flex;
    flex-direction: row;
}
#canv {
    border: ridge 15px lightgrey;
    //background-color: rgba(255,255,255,255);
    background-color: white;
}

/* GENERIC CONTROLS */
.paint-controls,
.brushpicker {
    font-size: larger;
    background-color: lightgray;
    border:solid 1px black;
    padding: 0 3px;
}
.circle.picked {
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}
.circle {
    width: 30px;
    height: 30px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}
.erasing .brush-size {
    display: none;
}
.eyedropping #colordisplay,
.erasing #colordisplay,
.eyedrop,
.erasor-brush {
    display: none;
}
.eyedropping .eyedrop,
.erasing .erasor-brush {
    display: block;
    background-color: white;
}
.eyedropping #canv {
    cursor: crosshair;
}
#palette {
    max-width: 250px;
}
.bar-button {
    cursor:not-allowed;
    color:gray;
    background-color:lightgrey;
    padding: 3px;
    margin: 4px;
    border: solid 1px gray;
}

.active.bar-button {
    border: solid 1px grey;
    background-color: white;
    cursor:pointer;
    color:black;
}
.display {
    width:40px;
    height:40px;
    margin: 1em;
    border: solid black 1px;
}
.buttons button {
    font-size: larger;
    margin: 2px;
    padding: 3px;
}
#saveform {
    margin-left: 1em;
}
