.profile > form,
.profile > section {
    font-size: larger;
    margin-left: 2em;
}
.invisava {
    display:none;
}
.frame {
    background-color: white;
    width: 150px;
    height: 150px;
    border: groove 15px lightgray;
}
.open#avedit {
    display: flex;
    flex-direction: column;
}
#avedit {
    display: none;
    margin-top: 3px;
}
.avatars {
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    background-color: #EAEEEB;
}
.avatars .selected {
    border: double 5px black;
}
.avatar {
    margin: 10px; auto;
    min-width: 150px;
    min-height: 150px;
//    border: solid 1px black;
}
.avatars > * {
    margin: 0 3px;
}
.avatar-actions {
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#avup {
    justify-content: space-evenly;
    margin: 30px 0;
}
