.pagination {
    justify-content: space-evenly;
    margin-bottom: 2em;
}
.sort {
    justify-content: space-around;    
}
.no-comics {
    text-align: center;
    font-size: x-large;
    background-color: #FFE;
    padding: 3em;
    margin: 5px;
    border: solid 1px purple;
}
div.comment {
    border: solid 1px;
    margin: 1px;
    padding: 2px;
}
.comments {
    margin: 3em auto;
    max-width:40em;
    text-align:center;
}
form.comment {
    margin: 0 0 1em 0;
}
span.comment {
    font-family: cursive;
    margin: 0 1em 0 0;
}
.time {
    font-family: monospace;
    font-size: smaller;
}
p.comment {
    background: wheat;
    flex-grow: 1;
    margin: 2px;
    padding: 3px;
    font-size: smaller;
    text-align: left;
}
.artist {
    margin-right: auto;
    text-align: left;
}
.bio {
    font-family: cursive;
}